*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}

.cabeza{

    position: absolute;
    top: 1%;
    right: 1%;
    width: 98%;
    height: 10%;
    border-radius: 13px;
}

.pNavigation{
    position:absolute;
    left: 1%;
    bottom: 2%;
    height: 85%;
    width:20%;
    border-radius: 13px;
}

.principal{
    position: relative;
    top : 80px;
    left: 21.9%;
    width: 77.1%;
    height: 413px;
    border-radius: 13px;
}

.pDPagina{
    position: absolute;
    bottom: 2%;
    right: 1%;
    height: 16%;
    width: 77.1%;
    border-radius: 13px;
}